@font-face {
  font-family: myFirstFont;
  src: url("../img/PORKYS_.TTF");
}

body {
  background-color: #C62B29;
}

.container {
  text-align: center;
}

#burger-image {
  max-width: 22%;
}

#header-text {
  font-family: myFirstFont;
  color: black;
  font-size: 60px;
  margin-top: -15px;
}

#add-burger-form {
  color: black;
}

li {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  /* background-color: #FFDD85; */
  /* border: 2px solid #FFDD85; */
  border: 2px solid black;
  background: white;
  margin-bottom: 5px;
}

p {
  padding-top: 10px;
}


#devburger {
  background-color: #FFDD85;
  border: 2px solid #4DB24A;
  float: right;
  margin-right: 5px;
}

h2 {
  font-weight: bold;
}

form {
  font-weight: bold;
}